<%- include("layout/header") %>
<main class="moviesMain">
  <aside class="sidebar">
    <div class="sidebar__container">
      <ul class="sidebar__list">
        <li class="sidebar__list-item">
          <input class="sidebar__search-input" type="text" />
          <i class="fas fa-search sidebar__search-icon"></i>
        </li>
      </ul>
      <i class="fa-solid fa-caret-right sidebar__toggle-menu"></i>
    </div>
  </aside>
  <div class="container">
    <h1 class="viewTop3__title">TOPP TRE</h1>
    <section class="viewTop3__container"></section>
    <h1 class="allMovies__title">ALLA FILMER</h1>
    <section class="allMovies">
      <% moviesArr.forEach(movie => { %>
        <div class="movieTemplate__card">
          <div class="movieTemplate__cover" style="background-image:url(<%= movie.attributes.image.url%>)"></div>
          <div class="movieTemplate__img" style="background-image:url(<%= movie.attributes.image.url%>)"></div>
          <h2 class="movieTemplate__title"><%= movie.attributes.title  %></h2>
          <a class="movieTemplate__button" href="/movies/<%- movie.attributes.imdbId %>">
            Se mer
          </a>
        </div>
      <% }); %>
    </section>
  </div>
</main>
<%- include("layout/footer") %>